.features-page {
    min-height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

.features-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    /* Reduced from 70px to shift content up */
    /* Account for fixed header */
    height: calc(100vh - 50px);
}